################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CopyingMachine3
/CopyingMachine3/LibRsa/LibRsa/x64/Debug
/CopyingMachine3/LibRsa/LibRsa/x64/Debug/LibRsa.tlog
/CopyingMachineRegistration/bin/Debug/rsadll.pdb
/CopyingMachineRegistration/bin/Debug/rsadll.lib
/CopyingMachineRegistration/bin/Debug/rsadll.ilk
/CopyingMachineRegistration/bin/Debug/rsadll.exp
/CopyingMachineRegistration/bin/Debug/rsadll.dll
/CopyingMachineRegistration/bin/Debug/Keys/copymach_ulrikesteudle.cmk
/CopyingMachineRegistration/bin/Debug/Keys/copymach_heinz-jürgennoack.cmk
/CopyingMachineRegistration/bin/Debug/Keys/copymach_garytinn.cmk
/CopyingMachineRegistration/bin/Debug/Keys/copymach_bruceparks.cmk
/CopyingMachineRegistration/bin/Debug/Keys/copymach_asd667.cmk
/CopyingMachineRegistration/bin/Debug/CopyingMachineRegistration.vshost.exe.manifest
/CopyingMachineRegistration/bin/Debug/CopyingMachineRegistration.vshost.exe.config
/CopyingMachineRegistration/bin/Debug/CopyingMachineRegistration.vshost.exe
/CopyingMachineRegistration/bin/Debug/CopyingMachineRegistration.pdb
/CopyingMachineRegistration/bin/Debug/CopyingMachineRegistration.exe.config
/CopyingMachineRegistration/bin/Debug/CopyingMachineRegistration.exe
/CopyingMachineRegistration/bin/Debug/CopyingMachinePublic.key
/CopyingMachineRegistration/bin/Debug/CopyingMachinePrivate.key
/CopyingMachine3/LibTesseract/bin.dbg
/CopyingMachine3/LibTesseract/x64/Debug
/CopyingMachine3/Resource files/CopyingMachine3_English/x64/Debug
/CopyingMachine3/Scintilla/bin
/CopyingMachine3/Scintilla/vcbuild/Debug
/CopyingMachine3/Scintilla/vcbuild/x64/Debug
/CopyingMachine3/x64/Debug
/CopyingMachineRegistration/bin/Debug/Keys
/CopyingMachineRegistration/obj/Debug
/Intermediate files/rsadll/Debug
/OCRStub/obj/Debug
/OCRStub/OCRStubControls/obj/Debug
/release/uninstall.exe
/release/SciLexer.dll
/release/msvcr90.dll
/release/msvcp90.dll
/release/msvcm90.dll
/release/Microsoft.VC90.CRT.manifest
/release/jpeg62.dll
/release/CopyingMachine3.exe
/release/cm_tesseract.dll
/release/cm_german.dll
/release/cm_english.dll
/release/cm_dutch.dll
/x64/Debug
/CopyingMachine3/Debug
/CopyingMachine3/LibJpeg7/LibJpeg7/Debug
/CopyingMachine3/LibJpeg7/LibJpeg7/x64/Debug
/CopyingMachine3/LibTiff/libtiff/x64/Debug
/CopyingMachine3/Resource files/CopyingMachine3_Dutch/x64/Debug
/CopyingMachine3/ZLib/ZLib/x64/Debug
/Debug
/Intermediate files/cm_tesseract/Debug
/Intermediate files/CopyingMachine3/Debug/CopyingMachine3.tlog
/Intermediate files/CopyingMachine3/Debug
/Intermediate files/CopyingMachine3_Dutch/Debug
/Intermediate files
/Win32/Debug
